# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.venv/
env/

# PyInstaller
build/
dist/
*.spec

# Temp / OS
*.tmp
*.ico.tmp
Thumbs.db
.DS_Store
desktop.ini

# IDE
.vscode/
.idea/
*.suo
*.user
